@import url('https://fonts.googleapis.com/css?family=Raleway:300,700,800');

*, *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
}

html, body{
	font-family: 'Raleway', sans-serif;
	font-size: 17px;
	line-height: 1.588;
	color:  #262626;
	background: #fff;

}

/* Typography */
img {
    max-width: 100%;
    height: auto;
}

a, button{
    transition: all 0.5s ease;
}

.btn{
	position: relative;
	display: inline-block;
	margin-top: 50px;
	width: 200px;
	height: 55px;
	color:  #fff;
    font-size: 20px;
    font-weight: 300;
    text-align: center;
	background: none;
	text-transform: uppercase;
	text-decoration: none;
	overflow: hidden;
	cursor: pointer;
	box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.5);
}

.btn:after {
    content: "";
    background: #fff;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px!important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
}

.btn:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
}

.btn--orange {
	margin-top: 30px;
	background-color: #ff6033;
	border: 1px solid #ff6033;
}

.btn--orange:hover {
	background-color: #df3708;
	border: 1px solid #df3708;
}

.btn--blue {
	background-color: #5585a2;
	border: 1px solid #5585a2;
}

.btn--blue:hover {
	background-color: #4bb7f8;
	border: 1px solid #4bb7f8;
}

/* Info */

.info--white {
	color: #fff;
}

.info__title {
	margin-bottom: 19px;
	font-size: 90px;
	font-weight: 700;
	line-height: 1;
}

.title--w800 {
	font-size: 60px;
	font-weight: 800;
}

.title--nomargin {
	margin-bottom: 0;
}

.title--margin30 {
	margin-bottom: 30px;
}

.info__text + .info__text {
	margin-top: 10px;
}

.info__text--padd {
	padding-bottom: 14px;
}

/* Grid */
.container{
	margin: 0 auto;
    padding: 0 15px;
    width: 100%;
    max-width: 1200px;
}
.row{
    margin: 0 -15px;
}

.row + .row {
	margin-top: 30px;
}

.row:before,
.row:after{
    content: '';
    display: table;
    clear: both;
}

[class^="col-"],
[class*="col-"]{
    float: left;
    padding: 0 15px;
}

.col-1{
    width: 8.3333%;
}

.col-2{
    width: 16.6666%;
}

.col-3{
    width: 25%;
}

.col-4{
    width: 33.3333%;
}

.col-5{
    width: 41.6665%;
}

.col-6{
    width: 50%;
}

.col-7{
    width: 58.3333%;
}

.col-8{
    width: 66.6666%;
}

.col-9{
    width: 75%;
}

.col-10{
    width: 83.3333%;
}

.col-11{
    width: 91.6666%
}

.col-12{
    width: 100%;
}

.col-offset-1{
    margin-left: 8.3333%;
}

.col-offset-2{
    margin-left: 16.6666%;
}

.col-offset-3{
    margin-left: 25%;
}

.col-offset-4{
    margin-left: 33.3333%;
}

.col-offset-5{
    margin-left: 41.6665%;
}

.col-offset-6{
    margin-left: 50%;
}

.col-offset-7{
    margin-left: 58.3333%;
}

.col-offset-8{
    margin-left: 66.6666%;
}

.col-offset-9{
    margin-left: 75%;
}

.col-offset-10{
    margin-left: 83.3333%;
}

.col-offset-11{
    margin-left: 91.6666%
}

/* Fist Slide */

.first-slide {
	position: relative;
	min-height: 100vh;
	background: #f9f8fb url("../img/Slide1-bg.jpg") no-repeat center center; 
	background-size: cover;
}

.first-slide__next-link{
    position: absolute;
    left: 50%;
    bottom: 62px;
    display: block;
    transform: translateX(-50%);  
}

.first-slide__next-link:hover{
    opacity: 0.4;
}

/* Header */
.logo{
	display: inline-block;
	vertical-align: middle;
	width: 12%;;
}

.header{
	padding-top: 48px;
	position: fixed;
	width: 100%;
	left: 0;
	top: 0;
	z-index: 1;
}

.menu{
	display: inline-block;
	vertical-align: middle;
	width: 88%;
	text-align: right;
}

.menu__list{
	list-style: none;
	padding-left: 0;
}

.menu__item{
	display: inline-block;
	padding-left: 18px;
	padding-right: 18px; 
}

.menu__item:last-child {
	padding-right: 0;
} 

.menu__link {
	position: relative;
	display: inline-block;
	padding: 3px 0 12px 0;
	color: #262626;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 16px;
	font-weight: 700;	
}


.menu__link:after{
    position: absolute;
    bottom: 100%;
    left: 0;
    width: 0;
    height: 3px;
    background: #ff6033;
    content: '';
    transition: width 0.5s ease;
}

.menu__link:hover:after{
    width: 100%;
}

.first-slide-content {
	/*position: absolute;*/
	/*top: 50%;*/
	/*transform: translateY(-50%);*/
	padding-top: 352px;
	padding-bottom: 404px; 
	max-width: 31.62%;
}

/* Slide-about-us */
.slide-about-us {
	background: #00b2b1;
	padding: 70px 0 64px; 
}

.slide-about-us__content {
	padding-left: 85px;
	padding-top: 99px; 
}

/* Slide-services */
.slide-services {
	background: #70bfff;
	padding: 100px 0 151px; 
}

.slide-services__wpap-img {
	position: relative;
	padding-left: 125px;
}

.info--center-right {
	position: absolute;
	right: 15px;
	top: 50%;
	transform: translateY(-50%);
}

.slide-services__btn {
	margin-top: 0;
	padding-left: 28px;
	padding-right: 130px;
	width: 400px;
	height: 100px;
	color:  #262626;
    font-weight: 700;
    border: none;
	background: #fff;
	background-position: 93% center;
  	background-repeat: no-repeat;
	text-transform: none;
	box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.5);
}

.slide-services__btn:hover {
	color: #fff;
	border: 1px solid #3d8fd1;
	background: #3d8fd1;

}

.slide-services__btn + .slide-services__btn {
	margin-top: 20px;
}

.slide-services__btn:first-child {
	margin-top: 79px;
}

.btn--shop {
	background-image: url('../Img/shop.png');
	background-position: 92% center; 	
}
.btn--product {
	background-image: url('../Img/product.png'); 	
}
.btn--delivery {
	background-image: url('../Img/delivery.png'); 	
}
.btn--organized {
	background-image: url('../Img/Organized.png'); 	
}

/* Slide-gallery */
.slide-gallery {
	background: #ffe92f;
	text-align: center;
	padding: 89px 0 151px;
}